################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/nucelotidz.storage.queue/.vs/nucelotidz.storage.queue
/src/nucelotidz.storage.queue/obj
/src/nucelotidz.storage.queue/.vs/ProjectEvaluation
