################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/nucelotidz.storage.queue/.vs/nucelotidz.storage.queue
/src/nucelotidz.storage.queue/obj
/src/nucelotidz.storage.queue/.vs/*
/src/.vs/nucelotidz.storage.queue
/src/nucelotidz.storage.queue/bin/Debug/net6.0
/example/nucleotidz.queue.example/obj
/example/nucleotidz.queue.example/bin/Debug/net6.0
/src/.vs/ProjectEvaluation
/src/nucelotidz.storage.queue/bin/Debug/nucelotidz.storage.queue.1.0.0.nupkg
